body{
    background-color: color-mix(in hsl, var(--black) 95%, hsl(220, 0%, 15%) 5%);
    background-image: none;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-x: hidden;
}

.header{
    background-color: transparent;
    height: 10dvh;
    padding-right: var(--padding-s);
}

.header__cart{
    color: var(--white);
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.header__cart:hover{
    opacity: .60;
}

.header__subcontainer{
    position: relative;
}

.wrapper{
    height: 90dvh;
    display: grid;
    grid-template-columns: 17% 83%;
    grid-template-rows: 5% 95%;
    grid-template-areas: 
    "main section"
    "aside section";
    gap: var(--gap-xs);
    padding: calc(var(--padding-xs) - .3rem) 0 0 var(--padding-s);
    padding-bottom: var(--padding-m);
    background-color: transparent;
}

.main{
    background-color: transparent;
    height: 5%;
    display: flex;
    justify-content: center;
    padding: var(--padding-xs) 0 0 var(--padding-x);
    grid-area: main;
}

.main__title{
    text-transform: none;
    font-size: calc(var(--font-size-h4) - .8rem);
    animation: none;
    opacity: 1;
}

.aside__categories{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-m);
    border-radius: var(--border-radius-medium);
    padding: var(--padding-xs);
    border: 1px solid var(--gray-dark-extra);
    grid-area: aside;
}

.aside__title{
    color: var(--gray-light);
    font-size: calc(var(--font-size-p) - .2rem);
    font-weight: 900;
}

.aside__list{
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-xs);
}

.aside__element{
    font-size: calc(var(--font-size-p) - .3rem);
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-weight: 600;
    color: var(--gray-light);
    border-radius: var(--border-radius-small);
    padding: var(--padding-xs);
}

.aside__element:hover:not(.aside__element--selected){
    outline: 2px solid var(--gray-dark-extra);
}

.aside__element--selected{
    background-color: var(--gray-dark-extra);
}

.section--shop{
    background-color: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--gray-light) transparent;
    scrollbar-width: thick;
    height: 100%;
    grid-area: section;
    padding: var(--padding-l);
    width: 99%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-between;
    grid-template-rows: repeat(2, 72%);
    grid-auto-rows: 70%;
    gap: var(--gap-xs);
    scroll-behavior: smooth;
}

@media screen and (max-width: 935px) {
    .section--shop{
        grid-template-columns: repeat(2, 50%);
    }
}

.section__product{
    border: 1.5px solid var(--gray-dark-extra);
    border-radius: var(--border-radius-medium);
    padding: var(--padding-l);
    display: grid;
    align-content: space-between;
    row-gap: calc(var(--gap-xs) + .2rem);
    grid-template-columns: 1fr;
    grid-template-rows: 58% 5% 7% 5% 13%;
    grid-template-areas: 
    "img"
    "title"
    "description"
    "price"
    "button"
    ;
}

.section__img{
    border-radius: var(--border-radius-medium);
    grid-area: img;
    justify-self: center;
    align-self: center;
    max-width: 80%;
}

.section__title{
    grid-area: title;
}

.section__description{
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    color: var(--gray-dark);
    grid-area: description;
}

.section__price{
    grid-area: price;
}

.section__title, .section__price{
    font-weight: 800;
    color: var(--gray-light);
    font-size: calc(var(--font-size-p) - .1rem);
}

.section__button{
    background-color: var(--orange);
    border-radius: var(--border-radius-large);
    padding: calc(var(--padding-l) - .3rem) calc(var(--padding-xx) - .2rem);
    border: 0px;
    color: var(--white);
    font-weight: 800;
    cursor: pointer;
    transition: all .2s ease-in-out;
    grid-area: button;
}

.section__button:hover{
    opacity: .7;
}

.shoppingcart{
    position: absolute;
    top: 1.9rem;
    right: 2rem;
    height: 460px;
    background-color: color-mix(in hsl, var(--gray-dark-extra) 40%, var(--black) 60%);
    width: 320px;
    border-radius: var(--border-radius-large);
    display: flex;
    flex-direction: column;
    padding: var(--padding-xs);
    row-gap: var(--gap-xs);
    z-index: 10;
    box-shadow: 0 0 7px var(--gray-dark);
}

.hidden{
    display: none !important;
}

.shoppingcart__totalprice{
    align-self: center;
    color: var(--gray-light);
    height: 10%;
}

.shoppingcart__productscontainer{
    height: 85%;
    display: flex;
    flex-direction: column;
}

.shoppingcart__button--pay{
    height: 5%;
    background-color: var(--orange);
    border-radius: var(--border-radius-medium);
    padding: var(--padding-l) var(--padding-xx);
    border: 0px;
    color: var(--white);
    font-weight: 800;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.shoppingcart__button--pay:hover{
    opacity: .85;
}

.shoppingcart__productscontainer{
    overflow-y: auto;
    scrollbar-color: var(--gray-light) transparent;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-xs);
    overflow-x: hidden;
}

.shoppingcart__product{
    width: 109%;
    border-bottom-left-radius: var(--border-radius-small);
    display: grid;
    grid-template-columns: 25% 50% 20% 15%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "img name quantity button"
    "img price quantity button";
    color: var(--gray-light);
    column-gap: calc(var(--gap-xs) - .3rem);
    align-items: center;
    border-bottom: 1.5px solid var(--gray-dark-extra);
    height: 50px;
    transition: all .4s ease-out;
}

.shoppingcart__product:hover{
    transform: translateX(-23%);
}

.shoppingcart__img{
    width: 100%;
    height: 100%;
    grid-area: img;
    border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

.shoppingcart__name{
    font-size: var(--font-size-small);
    grid-area: name;
}

.shoppingcart__price{
    grid-area: price;
}

.shoppingcart__name, .shoppingcart__price{
    font-weight: 700;
}

.shoppingcart__quantity{
    font-size: calc(var(--font-size-h5) - 1rem);
    grid-area: quantity;
    font-weight: 700;
    justify-self: center;
}

.shoppingcart__button{
    font-size: calc(var(--font-size-h5) - .4rem);
    grid-area: button;
    height: 100%;
    width: 100%;
    padding: var(--padding-s);
    color: var(--white);
    background-color: var(--red);
    border: 0px;
    border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
    justify-self: center;
    transition: all .2s ease-in-out;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shoppingcart__button:hover{
    opacity: .7;
}

.dialog{
    position: fixed;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    display: flex;
}

.dialog__subcontainer{
    padding: var(--padding-l) var(--padding-x);
    display: grid;
    height: 90%;
    width: 75%;
    background-color: var(--white);
    margin: auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 15.5% 15.5%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
    "title title close close"
    "form payments shoppingcart shoppingcart"
    "message message cancel buy"
    ;
    border-radius: var(--border-radius-small);
    gap: 0 var(--gap-xs);
}

.dialog__title{
    grid-area: title;
    font-size: calc(var(--font-size-h5) - .2rem);
    color: var(--black);
    font-weight: 600;
}

.dialog__button{
    grid-area: close;
    background-color: transparent;
    border: 0px;
    background-color: transparent;
    width: 17px;
    height: 17px;
    justify-self: end;
    cursor: pointer;
}

.dialog__button:hover img{
    opacity: .50;
}

.dialog__button img{
    max-width: 100%;
    max-height: 100%;
    transition: all .2s ease-in-out;
    user-select: none;
}

.form{
    grid-area: form;
    display: grid;
    grid-template-columns: repeat(2,48%);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 
    "title title"
    "name name"
    "email email"
    "phone phone"
    "location location"
    "city postalcode"
    ;
    gap: var(--gap-l) var(--gap-xs);
}

.dialog__subcontainer h3{
    font-size: calc(var(--font-size-h6) - .5rem);
    grid-area: title;
}

.form label, .form label input{
    font-size: calc(var(--font-size-h6) - .6rem);
    color: var(--gray-dark-extra);
}

.form label{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    row-gap: var(--gap-xs);
}

.form label input{
    border: 2px solid var(--gray-light);
    border-radius: var(--border-radius-small);
    background-color: transparent;
    padding: var(--padding-xs) var(--padding-xs);
    transition: all .15s ease-in;
}

.form label input:focus-visible{
    outline: none;
}

.form label input:focus{
    border-color: var(--gray-dark);
}

label:has(.form__name){
    grid-area: name;
}

label:has(.form__email){
    grid-area: email;
}

label:has(.form__phone){
    grid-area: phone;
}

label:has(.form__location){
    grid-area: location;
}

label:has(.form__city){
    grid-area: city;
}

label:has(.form__postalcode){
    grid-area: postalcode;
}

.paymentmethods--form{
    grid-area: payments;
    display: grid;
    grid-template-columns: repeat(2,48%);
    grid-template-rows: 5% 5% 20% 70%;
    grid-template-areas: 
    "title title"
    "subtitle subtitle"
    "mastercard visa"
    "card card"
    ;
    gap: calc(var(--gap-l) - .2rem) var(--gap-xs);
    user-select: none;
}

.form, .paymentmethods--form{
    border-right: 2px solid var(--gray-light);
}

.paymentmethods--form .form__title{
    grid-area: title;
}

.form__subtitle{
    font-size: calc(var(--font-size-h6) - .5rem);
    grid-area: subtitle;
    color: var(--gray-dark);
    font-weight: 500;
}

.form__payment{
    border: 2px solid var(--gray-light);
    border-radius: var(--border-radius-small);
    height: 100px;
    width: 100%;
    padding: var(--padding-xs);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.chosen{
    border: 2px solid var(--blue);
    box-shadow: 0 0 5px var(--gray-light);
}

.card{
    margin-top: var(--gap-m);
    grid-area: card;
    max-height: 60%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    border: 0px;
    grid-template-areas: 
    "rightside stripe"
    "rightside cvc"
    ;
    background-color: hsl(220, 30%, 35%);
    border-radius: var(--border-radius-medium);
}

.card__right{
    grid-area: rightside;
    border: 0px;
    background-color: hsl(220, 35%, 60%);
    border-radius: var(--border-radius-medium);
    display: grid;
    grid-template-columns: 20% 10% 20% 50%;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "cardnumber cardnumber cardnumber cardnumber"
    "month slash year void"
    "cardholdersname cardholdersname cardholdersname cardholdersname"
    ;
    padding: var(--padding-xs);
    row-gap: var(--gap-l);
}

.card input, .card__right input{
    box-sizing: border-box; 
    width: 100%;
    min-width: 0; 
    padding: var(--padding-xs);
    border: 0px;
    border-radius: var(--border-radius-small);
    background-color: hsl(220, 30%, 75%);
    color: var(--white);
}

.card input::placeholder, .card__right input::placeholder{
    color: var(--white);
}

.card input:focus-visible, .card__right input:focus-visible{
    outline: none;
}

.card__number{
    grid-area: cardnumber;
}

.card__month{
    grid-area: month;
}

.card__slash{
    grid-area: slash;
    color: var(--white);
    align-self: center;
    justify-self: center;
}

.card__void{
    grid-area: void;
}

.card__year{
    grid-area: year;
}

.card__holdersname{
    grid-area: cardholdersname;
}

.card__stripe{
    grid-area: stripe;
    background-color: hsl(220, 30%, 5%);
    height: 30px;
    align-self: center;
}

.card__cvc{
    align-self: center;
    justify-self: center;
    grid-area: cvc;
}

.resume{
    grid-area: shoppingcart;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
    "title"
    "list"
    "totalprice"
    ;
}

.resume__shoppingcart{
    grid-area: list;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--gray-light);
    border-radius: var(--border-radius-small);
    padding: var(--padding-xs);
    user-select: none;
    overflow-y: scroll;
    scrollbar-color: var(--gray-dark) transparent;
}

.list__element{
    display: grid;
    border-bottom: 2px solid var(--gray-light);
    grid-template-columns: 30% 55% 15%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "img name quantity"
    "img price quantity"
    ;
    color: var(--gray-dark-extra);
    column-gap: calc(var(--gap-xs) - .3rem);
    align-items: center;
}

.element__img{
    grid-area: img;
}

.element__name{
    grid-area: title;
    font-size: var(--font-size-small);
    grid-area: name;
}

.element__price{
    grid-area: price;
}

.element__quantity{
    font-size: calc(var(--font-size-h5) - 1rem);
    grid-area: quantity;
    font-weight: 700;
    justify-self: center;
    align-self: center;
}

.element__price{
    font-weight: 700;
}

.resume__totalprice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-xs);
}

.resume__totalprice span{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog__info{
    display: flex;
    align-items: center;
    grid-area: message;
}

.dialog__info img{
    width: 20px;
    height: 20px;
}

.dialog__info p{
    color: var(--gray-dark);
    font-size: var(--font-size-small);
}

.dialog__button--cancel, .dialog__button--pay{
    align-self: center;
    padding: calc( var(--padding-xs) + .2rem);
    border-radius: var(--border-radius-small);
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.dialog__button--cancel{
    color: var(--black);
    border: 1px solid var(--gray-dark);
}

.dialog__button--pay{
    border: 0px;
    background-color: var(--black);
    color: var(--white);
}

.dialog__button--cancel:hover, .dialog__button--pay:hover{
    box-shadow: 0 0 3px var(--gray-dark);
}

